In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/car_prices-EU.csv')
df

,Brand,Model,Price,Country,Kilometers,Gearbox,Year,Fuel,Power,Seller,Body Type,Type,Drivetrain,Seats,Doors,Cylinders,Color,Upholstery
0,Fiat,Freemont,5100.0,IT,225282,Automatic,2013,Diesel,170.0,Dealer,Van,Used,4WD,7.0,5.0,4.0,Black,Full leather
1,Fiat,Panda,1995.0,NL,162076,Manual,2010,Gasoline,69.0,Dealer,Compact,Used,Front,4.0,5.0,4.0,Grey,Cloth
2,Fiat,Panda,2995.0,NL,53914,Manual,2006,Gasoline,60.0,Dealer,Compact,Used,Front,4.0,5.0,4.0,Black,NaN
3,Fiat,Grande Punto,1450.0,NL,238642,Manual,2006,Gasoline,95.0,Dealer,Compact,Used,Front,5.0,5.0,4.0,Black,Cloth
4,Fiat,500X,8900.0,IT,199000,Manual,2017,LPG,120.0,Dealer,Off-Road/Pick-up,Used,Front,5.0,5.0,4.0,White,Part leather
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12899,Corvette,C7,65000.0,DE,20064,NaN,2015,Gasoline,466.0,Private seller,Coupe,Used,NaN,2.0,3.0,NaN,Blue,Velour
12900,Corvette,C8,144900.0,AT,3500,Automatic,2021,Electric/Gasoline,503.0,Dealer,Convertible,Used,Rear,2.0,2.0,NaN,Blue,Full leather
12901,Corvette,Z06,70500.0,DE,29874,Automatic,2015,Gasoline,659.0,Dealer,Convertible,Used,NaN,2.0,2.0,NaN,Blue,Full leather
12902,Corvette,C3,21800.0,AT,85000,Manual,1971,Gasoline,277.0,Private seller,Convertible,Used,Rear,2.0,2.0,8.0,Yellow,Other
12903,Corvette,C6 Coupe,39900.0,IT,80000,Manual,2008,Gasoline,436.0,Dealer,Coupe,Used,Rear,2.0,2.0,8.0,Black,Full leather

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12904 entries, 0 to 12903
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       12904 non-null  object
 1   Model       12821 non-null  object
 2   Price       12894 non-null  float64
 3   Country     12894 non-null  object
 4   Kilometers  12771 non-null  object
 5   Gearbox     12813 non-null  object
 6   Year        12429 non-null  object
 7   Fuel        12895 non-null  object
 8   Power       12792 non-null  float64
 9   Seller      12902 non-null  object
 10  Body Type   12904 non-null  object
 11  Type        12903 non-null  object
 12  Drivetrain  9750 non-null   object
 13  Seats       12297 non-null  float64
 14  Doors       12639 non-null  float64
 15  Cylinders   10161 non-null  float64
 16  Color       12406 non-null  object
 17  Upholstery  11094 non-null  object
dtypes: float64(5), object(13)
memory usage: 1.8+ MB

In [5]:
df.describe()

              Price         Power         Seats         Doors     Cylinders
count  1.289400e+04  12792.000000  12297.000000  12639.000000  10161.000000
mean   3.550190e+04    203.678705      4.890136      4.475671      4.401338
std    9.580146e+04    155.413744      0.825276      0.948770      1.716276
min    3.000000e+02      1.000000      1.000000      2.000000      0.000000
25%    1.245475e+04    116.000000      5.000000      4.000000      4.000000
50%    1.995000e+04    150.000000      5.000000      5.000000      4.000000
75%    2.999000e+04    238.000000      5.000000      5.000000      4.000000
max    4.990000e+06   6751.000000      9.000000     35.000000     12.000000